@model FormSubmission.Models.User;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css"/>

</head>
<body>
    <div class="container">
        <h1>Enter your information here</h1>
    
        <form asp-action="Create" asp-controller="Home" method="post">
            <span asp-validation-for="FirstName"></span>
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName">    
            <span asp-validation-for="LastName"></span>
            <label asp-for="LastName"></label>
            <input asp-for="LastName">   
            <span asp-validation-for="Age"></span>
            <label asp-for="Age"></label>
            <input asp-for="Age">   
            <span asp-validation-for="Email"></span>
            <label asp-for="Email"></label>
            <input asp-for="Email">
            <span asp-validation-for="Password"></span>
            <label asp-for="Password"></label>
            <input asp-for="Password">
            <input value="Add User" type="submit">    
        </form>
    </div>
</body>
</html>